<!DOCTYPE html>
<html>
  <head>
    <title>Zoombreakouttest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if content_for?(:css_js) %>
      <%= yield(:css_js) %>
    <% else %>
      <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_link_tag 'layouts/application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application' %>
    <% end %>
    
  </head>

  <body>
    <%= yield %>
    <%# <script src="https://appssdk.zoom.us/sdk.js"></script> %>
  </body>
</html>
